body {
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.header {
    background-color: blueviolet;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-title {
    font-size: 3rem;
    font-weight: bold;
    flex: 1; 
    text-align: center;

}

.header-links a {
    text-decoration: none;
    color: #000000;
    margin-left: 20px;
}

.menu {
    background-color: #324AB2;
    color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.list-group-item {
    background-color: #ffffff;
    margin-bottom: 10px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 10px;
}

.btn {
    margin-top: 20px;
}

.main-content {
    text-align: center;
}

.logo {
    
}

.logo img {
    max-height: 130px; /* Ajustez la hauteur maximale selon vos besoins */
    max-width: 150%; /* Garantit que l'image ne dépasse pas la largeur du conteneur */
}

.photo-preview-container {
    width: 50px; /* Définir la largeur du conteneur */
    height: 50px; /* Définir la hauteur du conteneur */
    overflow: hidden; /* Cacher tout contenu dépassant du conteneur */
    border-radius: 50%; /* Créer un cercle en utilisant un bord arrondi à 50% de la largeur/hauteur */
    display: inline-block; /* Permet d'aligner l'élément à côté de l'input */
    margin-left: 10px; /* Ajuster la marge pour l'espacement */
}

.photo-profil-preview {
    width: 50px; /* Définir la largeur du cercle */
    height: 50px; /* Définir la hauteur du cercle */
    object-fit: cover; /* Couvrir tout le cercle tout en préservant les proportions de l'image */
    border-radius: 50%; /* Assurer que l'image est affichée en tant que cercle */
    display: block; /* Résoudre tout problème d'espacement supplémentaire */
    margin-top: 5px; /* Ajuster la marge supérieure pour l'espacement */
}

.profile-photo {
    width: 50px; /* Ajustez la taille selon vos besoins */
    height: 50px;
    border-radius: 50%; /* Pour une photo de profil arrondie */
    margin-right: 10px; /* Espace entre la photo et le texte */
}
